/* აქ მაქვს ნავიგაციის რესპონსივი */
@media screen and (max-width: 600px) {
  .navigation a:not(:first-child) {display: none;}
  .navigation a.icon {
    /* float: right; */
    display: block;
    position: absolute;
    right: 0;
  }
}

@media screen and (max-width: 600px) {
    .navigation.responsive {
        position: relative;
    }
    .navigation.responsive a{
        display: block;
        }
}
